#future {
  height: auto;
  max-height: 30%;
  padding: 0 0 1 0;
}

#history {
  padding: 1 0 0 0;
}

#tabview {
  height: 30%;
  min-height: 10;
}

.message {
  height: auto;
  /* layout: horizontal; */
  padding: 0 0 1 0; /* top right bottom left */
}

.content {
  border-top: blank grey;
  padding: 0 1 0 1; /* top right bottom left */
}

#editor {
  border: none;
  padding: 1 1 0 1;
  background: $background;
}

Rule {
  color: rgb(50, 50, 50);
  margin: 0;
}

